.contact__wrapper {
  display: grid;
  @media screen and (min-width: 960px) {
    margin: 0;
    height: calc(100vh - (var(--header-height)));
  }
}

.contact__form-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;

  @media (min-width: 960px) {
    column-gap: 100px;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    column-gap: 150px;
  }
}

.contact__form-section {
  align-self: center;
  max-width: 600px;
}

.contact__info-section {
  grid-row: 1;
  align-self: center;
  max-width: 500px;
  margin-top: 50px;

  @media screen and (min-width: 960px) {
    justify-self: center;
    margin-top: 0;
  }
}

.contact__info-title {
  font-size: var(--font-size-h1);
  margin-bottom: 20px;
  line-height: var(--line-height-heading);

  span {
    color: var(--accent-color);
  }
}

.contact__info-text {
  margin-bottom: 30px;
}

.contact__form {
  display: grid;
  gap: 10px;
}

.contact__name-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 620px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact__label {
  color: var(--light-grey);
  margin-bottom: 5px;
  font-size: 1rem;
}

.contact__input {
  padding: 5px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-bottom: 1px solid var(--grey);
}

.contact__textarea {
  resize: none;
  height: 100px;
}

.contact__button {
  padding: 10px 20px;
  border-radius: 2px;
  background-color: var(--accent-color);
  font-weight: bold;
  color: var(--darkpurple);
  font-family: var(--montserrat);
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  width: 180px;
  margin-bottom: 80px;

  &:hover {
    transform: translateY(-2px);
    background-color: #b6aaff;
  }

  &:active {
    transform: translateY(0);
  }

  @media screen and (min-width: 960px) {
    margin-bottom: 0;
  }
}
