.dokumentation__header {
  margin-top: 50px;

  @media screen and (min-width: 960px) {
    margin-top: 150px;
  }
}

.dokumentation__title {
  font-size: var(--font-size-h2);
  font-family: var(--font-hanson);
  line-height: var(--line-height-heading);
  margin-bottom: 50px;

  @media screen and (min-width: 420px) {
    font-size: var(--font-size-h1);
  }
}

.documentation__main {
  margin-bottom: 150px;
}

.documentation__section {
  max-width: 700px;
  padding: 30px 0;

  p:not(:last-of-type) {
    margin-bottom: 20px;
  }

  aside {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    border-left: 5px solid var(--accent-color);

    a {
      display: flex;
      font-style: italic;
      text-decoration: underline;
      transition: color 0.3s;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

.documentation__section-title {
  font-size: var(--font-size-h3);
  font-family: var(--font-hanson);
  line-height: var(--line-height-heading);
  margin-bottom: 20px;

  @media screen and (min-width: 420px) {
    font-size: var(--font-size-h2);
  }
}

.documentation__section-subtitle {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
  margin-bottom: 10px;
}

#documentation__link-color {
  font-style: italic;
  text-decoration: underline;
}
