.impressum__wrapper {
  display: block;
  padding: 30px 0;

  @media screen and (min-width: 340px) {
    height: calc(100vh - (var(--header-height) + var(--footer-heigt)));
  }

  @media screen and (min-width: 620px) {
  }

  @media screen and (min-width: 960px) {
    padding: 50px 0;
  }

  address {
    margin-bottom: 40px;

    @media screen and (min-width: 620px) {
      margin-bottom: 80px;
    }
  }
}

.title {
  font-size: var(--font-size-h1);
  font-weight: bold;
  margin-bottom: 20px;
  line-height: var(--line-height-heading);
}
.subsection-title {
  font-size: var(--font-size-h2);
  margin-bottom: 20px;
  line-height: var(--line-height-heading);
}
