.timeline__header {
  margin-top: 150px;
}

.timeline__title {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-heading);
  margin-bottom: 50px;
}

.timeline__main {
  margin-bottom: 150px;
}

.timeline__wrapper {
  max-width: 800px;
}

.timeline__main {
}

.timeline {
}
.timeline__item {
  margin-bottom: 100px;

  figure {
    margin-bottom: 30px;
    border: 1px solid var(--grey);

    figcaption {
      font-size: var(--font-size-text-small);
      line-height: var(--line-height-heading);
      background-color: #313131;
      padding: 15px 20px;
      line-height: 1.5;
    }
  }

  figure img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.timeline__date {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
  margin-bottom: 30px;
}
