.timeline {
  max-width: 860px;
}

.timeline__header {
  margin-top: 50px;

  @media screen and (min-width: 960px) {
    margin-top: 150px;
  }
}

.timeline__title {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-heading);
  margin-bottom: 50px;

  @media screen and (min-width: 420px) {
    font-size: var(--font-size-h1);
  }
}

.timeline__wrapper {
  @media screen and (min-width: 1400px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  column-gap: 100px;
}

.timeline__item figure figcaption {
  font-style: italic;
}

.timeline__text {
  margin-bottom: 30px;
}

.timeline__main {
  margin-bottom: 150px;
}

.timeline__sidenav {
  display: none;
  justify-self: flex-end;
  position: sticky;
  top: 80px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  padding: 20px;
  background-color: var(--black);
  width: 340px;

  li {
    margin-bottom: 12px;
  }

  a {
    font-size: var(--font-size-text-small);
    line-height: var(--line-height-heading);
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s;
    color: rgb(204, 198, 198);
  }

  @media screen and (min-width: 1400px) {
    display: block;
  }
}

.timeline__sidenav a.active {
  background-color: var(--accent-color);
  color: var(--black);
  font-weight: 600;
}

.timeline__sidenav a:hover {
  background-color: var(--grey);
}

.timeline__item {
  margin-bottom: 100px;

  figure {
    margin-bottom: 30px;
    border: 1px solid var(--grey);

    figcaption {
      font-size: var(--font-size-text-small);
      line-height: var(--line-height-heading);
      background-color: #313131;
      padding: 15px 20px;
      line-height: 1.5;
    }
  }

  figure img {
    display: block;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.timeline__date {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-heading);
  margin-bottom: 30px;

  @media screen and (min-width: 420px) {
    font-size: var(--font-size-h2);
  }
}
