/* header Animation */
@-webkit-keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: var(--header-top-size-1);
  }
  45% {
    top: var(--header-top-size-1);
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  75% {
    top: var(--header-top-size-1);
  }
  95% {
    top: var(--header-top-size-1);
  }
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: var(--header-top-size-1);
  }
  45% {
    top: var(--header-top-size-1);
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  75% {
    top: var(--header-top-size-1);
  }
  95% {
    top: var(--header-top-size-1);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(5px);
  }
}
