.main-content {
  padding: 120px 0;

  @media screen and (min-width: 960px) {
    padding: 180px 0;
  }
}
.projects__title {
  font-size: var(--font-size-h1);
  margin-bottom: 50px;
}
.projects__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.projects__project {
  justify-self: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projects__image {
  display: block;
  transition: opacity 0.3s ease;
}

.projects__hover-caption {
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
  line-height: 1.1;
  transform: translateY(50%);
  transition: transform 0.3s ease, opacity 0.3s ease;

  span {
    font-size: 0.8rem;
    color: var(--light-grey);
    text-transform: uppercase;
  }
}

.projects__caption {
  margin-top: 15px;
}

.projects__project:hover .projects__hover-caption {
  opacity: 1;
  transform: translateY(0);
}

.projects__project:hover .projects__image {
  opacity: 0.3;
}
